
<!-- Error notification -->
<ntb-error-alert *ngIf="errorMessage$ | async; let errorMessage;"
  [message]="errorMessage"
></ntb-error-alert>

<!-- New note button -->
<div>
  <button type="button"
    (click)="onAddNoteClick()"
  >Add New Note</button>
</div>

<!-- List of notes -->
<!-- TODO: add is current class -->
<div>
  <ntb-notes-list [notes]="notes$ | async"
    (selectNote)="onNoteSelect($event)"
  ></ntb-notes-list>
</div>

<!-- Search bar -->
<div>
  <ntb-search-bar [keywords]="searchByKeywords$ | async"
    (updateKeywords)="onSearchByKeywordsUpdate($event)"
  ></ntb-search-bar>
</div>

<!-- Note details -->
<div>
  <ntb-note-details [note]="currentNote"
    [allowSaveDelete]="allowSaveDelete$ | async"
    (updateNote)="onNoteUpdate($event)"
    (saveNote)="onNoteSave($event)"
    (deleteNote)="onNoteDelete($event)"
  ></ntb-note-details>
</div>
